<section class="templateCartas">
    <app-tarjeta-curso color="--red-color" [isLogged]="isLogged">
        <h1 titulo>Titulo</h1>
        <p descripcion>Descripcion</p>
        <span boton-text> Inscribirme</span >
    </app-tarjeta-curso>

    <app-tarjeta-curso color="--blue-color"[isLogged]="isLogged">
        <h1 titulo>Titulo</h1>
        <p descripcion>Descripcion</p>
        <span boton-text> Inscribirme</span>
    </app-tarjeta-curso>

    <app-tarjeta-curso color="--green-color" [isLogged]="isLogged">
        <h1 titulo>Titulo</h1>
        <p descripcion>Descripcion</p>
        <span boton-text> Inscribirme</span>
    </app-tarjeta-curso>

    <app-tarjeta-curso color="--yellow-color" [isLogged]="isLogged">
        <h1 titulo>Titulo</h1>
        <p descripcion>Descripcion</p>
        <span boton-text> Inscribirme</span>
    </app-tarjeta-curso>

    <app-tarjeta-curso color="--purple-color" [isLogged]="isLogged">
        <h1 titulo>Titulo</h1>
        <p descripcion>Descripcion</p>
        <span boton-text> Inscribirme</span>
    </app-tarjeta-curso>

    <app-tarjeta-curso color="--orange-color" [isLogged]="isLogged">
        <h1 titulo>Titulo</h1>
        <p descripcion>Descripcion</p>
        <span boton-text> Inscribirme</span>
    </app-tarjeta-curso>

</section>
