.header__boton {
    height: var(--header-height);
    width: 150px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-left: 1px solid white;
    color: var(--secondary-color);
}

.header__boton:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

