header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 ;
    height: var(--header-height);
    background-color: var(--primary-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-left: 1rem;
    color: var(--secondary-color);
}