.tarjetaCurso{
    width: 250px;
    height: 300px;
    border-radius: 15px;
    background-color: var(--secondary-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: var(--tertiary-color);
}