.boton {
    width: 150px;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    cursor: pointer;
    border-left: 1px solid var(--secondary-color);
    background-color: var(--primary-color);
    color: var(--secondary-color);
}